.homeMainContainer {
    margin: 0 auto;
    max-width: 1126px;
}
.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 80vh;
    max-width: 999px;
}
.homeImg {
    width: 280px;
}
.homeTitle {
    font-size: 26px;
}
.homeName {
    font-weight: 700;
    font-size: 36px;
    transition: 0.3s;
}
.homeName:hover {
    color: rgba(255, 1, 1, 1);
    transform: scale(1.2);
}
